<!DOCTYPE html>
<!--Next comment is required to overcome intellij idea's thymeleaf plugin bug. Please, do not remove!-->
<!--/*@thymesVar id="user" type="com.github.awesomechat.chat.models.User"*/-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="resource/static/chat_style.css"/>
</head>
<body>

    <script language="JavaScript" th:inline="javascript">
        var ws = null;
        var MessageTypes = {};

        MessageTypes.JOIN = 1;
        MessageTypes.CHAT = 2;
        MessageTypes.USERLIST = 4;
        MessageTypes.QUIT = 7;

        /* next comments is thymeleaf feature. Do not remove!*/
        /*<![CDATA[*/
        var me = [[${user.fullName}]];
        /*]]>*/
        var chatUsers = [];


        function connect() {
            ws = new WebSocket("ws://localhost:8080/ws-chat");
            ws.onopen = onOpen;
            ws.onclose = onClose;
            ws.onerror = onError;
            ws.onmessage = onMessage;
        }

        function onOpen() {
            console.log(getTime() + "Info: WebSocket connection opened.");
            var message = new JoinMessage(me);
            ws.send(JSON.stringify(message));
        }

        function JoinMessage(name) {
            this.type = MessageTypes.JOIN;
            this.name = name;
        }

        function onClose() {
            console.log(getTime() + "Info: WebSocket closed.");
        }

        function onMessage(message) {
            var data = JSON.parse(message.data);
            processMessage(data);
        }

        function processMessage(message) {
            var user;
            var text;
            if (message.type === MessageTypes.JOIN ) {
                user = message.name;
                text = getTime() + user + " has join the chat.";
                printMessage(text);
            }

            if (message.type === MessageTypes.QUIT) {
                user = message.name;
                text = getTime() + user + " has leave the chat.";
                printMessage(text);
            }

            if (message.type === MessageTypes.CHAT) {
                text = message.message;
                printMessage(text);
            }

            if (message.type === MessageTypes.USERLIST) {
                clearUserList();
                chatUsers = message.users;

                for (var x in message.users) {
                    user = message.users[x];
                    populateUserList(user)
                }
            }
        }
        
        function clearUserList() {
            var userList = document.getElementById("wrapper");
            while (userList.firstChild) {
                userList.removeChild(userList.firstChild);
            }
        }

        function populateUserList(user) {
            var button = document.createElement("button");
            button.type = button;
            button.id = user;
            button.innerHTML = user;
            button.onclick = function () {
                document.getElementById("message_text").value = user + ", ";
            };
            button.style.width = "100%";
            document.getElementById("wrapper").appendChild(button);
        }

        function printMessage(text) {
            var textArea = document.getElementById("textarea");
            textArea.value = textArea.value + text + "\n";
        }

        function getTime() {
            var date = new Date();
            var hour = date.getHours();
            var min = date.getMinutes();
            var sec = date.getSeconds();
            var time = "" + convertTimeUnit(hour) + ":" + convertTimeUnit(min) + ":" + convertTimeUnit(sec) + ": ";
            return time;
        }

        function convertTimeUnit(unit) {
            if (unit.toString().length === 1) return "0" + unit.toString();
            return unit;
        }

        function onError(error) {
            console.log('Error detected.');
        }

        function sendMessageByEnter(event) {
            var messageTextField = document.getElementById("message_text");
            var message = messageTextField.value;
            if (event.keyCode === 13) {
                if (message.length > 0) sendMessage(event);
            }
        }

        function sendMessage() {
            var messageTextField = document.getElementById("message_text");
            var text = messageTextField.value;
            messageTextField.value = "";
            if (text === "") return;

            var message = new ChatMessage(me, text);
            ws.send(JSON.stringify(message));
        }

        function ChatMessage(name, text) {
            this.type = MessageTypes.CHAT;
            this.author = name;
            this.message = text;
        }

        window.addEventListener("load", connect, false);


    </script>
    <h1>Awesome Chat</h1>
    <!--css not works for now, have no idea why. While just use style element. Will solve it later-->
    <div style="position: relative; display: inline-block">
        <span>
            <div style="position: relative; display: inline-block">
                <textarea id="textarea" cols="70" rows="20" readonly="readonly" ></textarea>
            </div>
            <div id="users_area" style="position: relative; display: inline-block">
                <textarea id="userlist" cols="20" rows="20" readonly="readonly"></textarea>
                <div id="wrapper"
                     style="position: absolute; top: 0; left: 0; width: 100%; text-align: left; outline: none;
                     border: none">

                </div>
            </div>
        </span>
    </div>

    <div>
        Your message: <input id="message_text" type="text" size="71" maxlength="71" onkeyup="sendMessageByEnter(event);"/>
        <input type="submit" value="Send!" onclick="sendMessage();"/>
    </div>
    <br/><br/><br/>

</body>
</html>