<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="first name" required=""/>
            <input placeholder="last name" required=""/>
            <input type="password" placeholder="password" required=""/>
            <button>create account</button>
            <p class="message">Already registered? <a th:href="@{login}">Sign In</a></p>
        </form>
    </div>

</body>
</html>